body,html {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
}

#container {
   width: 900px;
   margin-right: auto;
   margin-left: auto;
   
   margin-top: 40px;
}

table {
    border-spacing: 0px;
    width: 90%;
  
    box-shadow: 0px 0px 15px -1px #ccc;
}

td, th {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

tr td {
  padding: 8px;
  text-align: center;
}

tr td:last-child {
   border-right: 1px solid #aaa;
}

thead tr th:first-child {
    border-left: 0;
}

thead tr th {
    height: 40px;
  background: -moz-linear-gradient(top,  rgba(190,210,226,0.84) 0%, rgba(113,120,147,0.85) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,210,226,0.84)), color-stop(100%,rgba(113,120,147,0.85))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(190,210,226,0.84) 0%,rgba(113,120,147,0.85) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(190,210,226,0.84) 0%,rgba(113,120,147,0.85) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(190,210,226,0.84) 0%,rgba(113,120,147,0.85) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(190,210,226,0.84) 0%,rgba(113,120,147,0.85) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6bed2e2', endColorstr='#d9717893',GradientType=0 ); /* IE6-9 */
}

tbody tr:nth-child(even) td {
   background: #eee;
}


/* progress stuff */

#progressdiv {
    height: 25px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    
    width: 90%;
}

#progressimg {
    width: 25px;
    height: 25px;
    
    float:right;
    
    margin-right: 177px;
    
}


#progressbar-outer {
    border: 2px solid black;
    width: 600px;
    height: 15px;
    font-size: 0.9em;
    text-align: center;
    float:left;
    margin-top: 5px;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px -1px #ccc;
}

#progressbar-inner {
background: rgb(60,206,57); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(60,206,57,1) 0%, rgba(30,158,15,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,206,57,1)), color-stop(100%,rgba(30,158,15,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(60,206,57,1) 0%,rgba(30,158,15,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(60,206,57,1) 0%,rgba(30,158,15,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(60,206,57,1) 0%,rgba(30,158,15,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(60,206,57,1) 0%,rgba(30,158,15,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cce39', endColorstr='#1e9e0f',GradientType=0 ); /* IE6-9 */

    overflow: hidden;
    
    height: 15px;
    border-radius: 10px;
    position: relative;
    top: 0px;
    left: 0px;
}

#progresstext {
    position: absolute;
    margin-left: 250px;
    display: inline;
    z-index: 99;
    text-align: center;
}

/* h1, h2, ... */
h1 {
   text-shadow: 2px 2px 5px #ccc;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

h2 {
    margin-top: 0;
    font-size: 0.8em;
}

/* footer */
#footer {
    margin-top: 10px;
    font-size: 0.7em;
}